
/**
 * Awesome Icon Maker Mixin
 * @param iconName Name of the icon
 * @param iconPosition Should icon be displayed on the left | right side ?
 * --------------------------------------------------------------------------- */

 @mixin luccaIcons_make($iconName, $position) {
	@each $name, $char in $luccaIcons_icons {
		$class: str-replace($name, ' ', '.');

		@if $name == $iconName {

			@if $position == right {
				&:after {
					font-family: $luccaIcons_font-name;
					display: inline-block;
					vertical-align: middle;
					font-style: normal;

					content: $char;
					margin-left: $luccaIcons_factory-margin;
				}
			} @else {
				&:before {
					font-family: $luccaIcons_font-name;
					display: inline-block;
					vertical-align: middle;
					font-style: normal;

					content: $char;
					margin-right: $luccaIcons_factory-margin;
				}
			}
		}
	}
}
