
// Name and path of font files
$luccaIcons_font-name: 'lucca-icons' !default;
$luccaIcons_font-path: '../font' !default;

// Default font sizing
$luccaIcons_font-size: 1em !default;

// Class to be added to the icon elements
$luccaIcons_icon-class: 'lui.icon' !default;

// Mixin icons default margin
$luccaIcons_factory-margin: 0.5em !default;
