
$luccaIcons_font-create-classes: true !default;
// Name and path of font files
$luccaIcons_font-name: 'lucca-icons' !default;
$luccaIcons_font-family: $luccaIcons_font-name !default;
$luccaIcons_font-path: '//cdn.lucca.fr/lucca-icons/fonts' !default;

// Default font sizing
$luccaIcons_font-size: 1em !default;

// Class to be added to the icon elements
$luccaIcons_icon-base-selector: '.lui.icon' !default;

// Mixin icons default margin
$luccaIcons_factory-margin: 0.5em !default;

// Circular style
$luccaIcons_circular-width: 2em;
$luccaIcons_circular-height: 2em;
$luccaIcons_circular-padding: 0.5em;

$luccaIcons_icons: (
	"breakfast": "\e000",
	"gallery": "\e001",

	"lock": "\e01d",
	"unlock": "\e003",

	"north chevron": "\e004",
	"south chevron": "\e005",
	"west chevron": "\e006",
	"east chevron": "\e059",

	"west arrow": "\e053",
	"east arrow": "\e054",
	"north arrow": "\e055",
	"south arrow": "\e056",

	"attachment": "\e007",
	"blocks": "\e008",
	"branch": "\e009",
	"coffee": "\e00a",
	"check": "\e00b",
	"checkbox": "\e00c",
	"checkbox checked": "\e00d",
	"checkbox partial": "\e064",
	"clock": "\e00e",
	"cross": "\e00f",
	"calendar": "\e010",
	"download": "\e011",
	"edit": "\e012",
	"edit frame": "\e013",
	"edit mini": "\e014",
	"ellipsis": "\e015",
	"error": "\e016",
	"files": "\e017",
	"filter": "\e018",
	"email": "\e019",

	"user": "\e033",
	"add user": "\e01a",
	"remove user": "\e028",
	"to user": "\e02c",

	"help": "\e01b",
	"forbidden": "\e01e",
	"minus": "\e01f",

	"move": "\e020",
	"move horizontally": "\e021",
	"move vertically": "\e022",

	"notification": "\e023",
	"outside": "\e024",
	"camera": "\e025",
	"printer": "\e026",
	"refresh": "\e027",
	"drag": "\e029",
	"search": "\e02a",
	"send": "\e02b",
	"settings": "\e02d",
	"comment": "\e02e",
	"timer": "\e02f",
	"trash": "\e030",
	"plus": "\e031",
	"upload": "\e032",
	"warning": "\e034",

	"bookmark": "\e035",
	"add bookmark": "\e065",
	"remove bookmark": "\e066",

	"milestone": "\e036",
	"quantity": "\e037",
	"luggage": "\e038",
	"train": "\e039",
	"tools": "\e03a",
	"dollar toll": "\e03b",
	"euro toll": "\e03c",
	"taxi": "\e03d",
	"clean car": "\e03e",
	"car": "\e03f",
	"postage": "\e084",
	"iron": "\e041",
	"plane": "\e042",
	"piggy bank": "\e043",
	"phone": "\e044",
	"parking": "\e045",
	"computer mouse": "\e046",
	"subway": "\e047",
	"meal": "\e048",
	"lunch": "\e049",
	"mileage": "\e04a",
	"hotel": "\e04b",
	"gasoline": "\e04c",
	"euro": "\e04d",
	"drink": "\e04e",
	"diner": "\e04f",
	"dollar": "\e050",
	"computer": "\e051",
	"bus": "\e052",

	"pin": "\e057",
	"analytics": "\e058",
	"location": "\e05a",
	"tiles": "\e07b",
	"truck": "\e05e",
	"bank card": "\e05f",
	"database": "\e060",
	"journey": "\e002",
	"pricetag": "\e05b",
	"payment": "\e05c",
	"analytical allocation": "\e061",
	"tree list": "\e061",
	"jumping cc": "\e063",
	"drag2": "\e062",

	"sliders": "\e067",

	"roles": "\e068",

	"radio": "\e069",
	"radio checked": "\e06a",

	"imported item": "\e06b",
	"headphones": "\e06c",
	"help outline": "\e06d",
	"image": "\e06e",
	"import cb": "\e06f",
	"list": "\e070",
	"pristine imported item": "\e071",
	"rejected": "\e072",
	"mosaic": "\e073",
	"customize": "\e074",

	"watch": "\e076",
	"unwatch": "\e075",
	"nine tiles": "\e079",

	"birthday" : "\e07A",
	"group": "\e07c",
	"thin cross": "\e05d",
	"synchronization": "\e07d",
	"thin plus": "\e080",
	"heart": "\e07f",
	"broken heart": "\e07e",
	"star": "\e081",
	"key": "\e082",
	"history": "\e083",

	"org chart": "\e040",
	"flash": "\e085",
	"completion pie": "\e086",

	"thin east arrow": "\e087",
	"thin north arrow": "\e088",
	"thin south arrow": "\e089",
	"thin west arrow": "\e08b",

	"snack": "\e08a",
	"fullscreen": "\e08c",
	"fullscreen exit": "\e08d",
	"simple key": "\e08e",
	"flag": "\e08f",
	"home": "\e090",
	"planning": "\e091",
	"planning-tool": "\e092",
	"todolist": "\e093",
	"credit-debit": "\e094",
	"planning-manager": "\e095",

	"format-bold": "\e096",
	"format-clear": "\e097",
	"format-italic": "\e098",
	"format-link": "\e099",
	"format-list": "\e09a",
	"format-list-nb": "\e09b",
	"format-redo": "\e096c",
	"format-underlined": "\e096d",
	"format-undo": "\e096e",
	
	"dossier-rh": "\e096f",
	"telephone": "\e0a0"
);
